body{
    height: 100vh;
    width: 100vw;
}
header{
    width: 100%;
    display: flex;
    padding:20px;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(19, 119, 201);
    color: rgba(255, 255, 255, 0.9);
}
header > a{
    color:rgba(255, 255, 255, 0.9);
}
a:hover{
    color: white;
}
button{
    padding: 8px;
    border-radius:5px;
    border: none;
    color: white;
    background-color: rgb(19, 119, 201);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(8, 97, 170);
}

.tabela{
    width: 100%; /* A tabela ocupa toda a largura disponível */
  border-collapse: collapse; /* Remove espaços entre as bordas */
  margin: 20px 0; /* Adiciona espaço acima e abaixo da tabela */
  font-size: 16px; /* Define um tamanho de fonte legível */
  text-align: left; /* Alinha o texto à esquerda */
}
.tabela th, td{
  border: 1px solid #ddd;
  padding: 8px;
  letter-spacing: normal;
}
.tabela th{
    background-color: #16a2d1; /* Fundo azul claro */
    color: #ffffff; /* Texto branco */
    text-transform: uppercase; /* Letras maiúsculas */
    font-weight: bold; /* Texto em negrito */
}
h2{
    color: rgb(83, 83, 83);
    padding: 10px;
}
/* Estilo do formulário */
form {
    width: 500px;
    padding: 20px; /* Adiciona espaçamento interno */
    background-color: white;
    margin: 20px; /* Centraliza o formulário horizontalmente */
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para destacar o formulário */
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    gap: 15px; /* Espaçamento entre os elementos */
}

/* Estilo dos rótulos */
label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilo dos campos de entrada */
input, textarea {
    padding: 10px;
    width: calc(100% - 20px); /* Ocupa a largura do formulário menos o padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}

/* Espaçamento adicional para o botão */
form > button {
    align-self: center; /* Alinha o botão à esquerda */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

form > button:hover {
    background-color: #0056b3;
}

/* Estilo do botão fechar */
#fechar {
    align-self: center; /* Centraliza o botão fechar */
    margin-bottom: 0;
    background-color: transparent;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50%;
    background-color: transparent;
}

#fechar:hover {
    background-color: #e04d51;
}

.tabelaCategorias{
    width:50%;
}
select{
    margin-left: 5px;
    padding: 6px;
}